@import "../../../assets/variable";

.list-widget {
  position: relative;
  height: 90vh;
  width: 100%;
  background-color: #404040;
  color: $text-primary-color;
  font-size: 14px;
  font-family: "trinity", "Open Sans";

  &__header {
    &-wrap {
      display: flex;
      height: 5vh;
      padding: 8px 0;
      border-bottom: 1px solid #fff;
      justify-content: space-between;
      align-items: center;
    }

    &-heading {
      text-transform: capitalize;
    }

    &-dropdown-icon-wrap {
      display: flex;
    }
  }

  // dropdown.
  &__dropdown {
    display: none;
    padding: 17px;
    background-color: #242522;
    border: 1px solid #5f605d;
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.6);
    box-sizing: border-box;
    width: 145px;
    height: 190px;
    position: absolute;
    right: 15px;
    top: 25px;
    z-index: 2;
    color: #fff;

    &-heading {
      padding-bottom: 8px;
      font-size: 15px;
      border-bottom: 1.7px solid #5f605d;
      margin: 0;
      font-family: "trinity-semibold", "Open Sans";
    }

    &-list {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    &-list-item {
      position: relative;
      display: flex;
      cursor: pointer;
      text-transform: capitalize;
      align-items: center;
      font-size: 14px;
      font-family: "trinity-light", "Open Sans";

      &:nth-child(1) {
        padding-top: 5px;
      }

      &:nth-child(3) {
        border-bottom: 1.7px solid #5f605d;
        padding-bottom: 5px;
      }

      &:nth-child(4) {
        padding-top: 5px;
      }
    }

    &-list-item-icon {
      padding-right: 8px;
      padding-top: 5px;
    }

    &-toggle {
      height: 25px;
      width: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 2px;
      cursor: pointer;
      position: relative;
      background-color: #595a58;

      &:nth-child(3) {
        margin-right: 0;
      }
    }

    &--sort-filter {
      display: none;
      background-color: #242522;
      box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.6);
      box-sizing: border-box;
      width: 120px;
      height: 145px;
      position: absolute;
      top: 25px;
      z-index: 2;
      color: #fff;

      &-heading {
        border-bottom: 1px solid #5f605d;
        margin: 0 15px;
        padding: 5px 0;
        font-size: 14px;
        font-family: "trinity-semibold", "Open Sans";
      }

      &-list {
        list-style: none;
        padding: 0;
        margin: 0;

        &-heading {
          margin: 0;
          padding: 5px 15px 5px 15px;
          font-size: 14px;
          font-family: "trinity-semibold", "Open Sans";
        }

        &-item {
          padding-left: 15px;
          border-left: 2px solid #242522;
          position: relative;
          margin: 4px 0;
          cursor: pointer;
          font-size: 13px;

          &-content-wrap {
            position: relative;
            left: 14px;
          }
        }
      }

      &-nofilter {
        margin: 0 15px;
        padding: 12px 0;
        border-top: 1px solid #fff;
        font-weight: 300;
        font-size: 14px;
      }
    }
  }

  &__table-data {
    padding: 10px 0;
  }
}

.dropdown-active {
  display: block;
}

.list-widget-minimize {
  width: 40%;
  height: 40vh;
}

.list-widget-fullscreen {
  width: 100%;
  height: 90vh;
}

.active-items {
  display: inline-block;
  width: 6px;
  height: 6px;
  background-color: $btn-cta-color;
  border-radius: 50%;
}

.inactive-items {
  display: inline-block;
  width: 6px;
  height: 6px;
  background-color: red;
  border-radius: 50%;
}

.list-bottom-border {
  width: 95px;
  margin-left: 14px;
  position: relative;
  top: -9px;
  display: inline-block;
  height: 1px;
  background: #5f605d;
}

.list-bottom-border + .list-widget__dropdown--sort-filter-list-item {
  margin-top: -2px;
}

.active-border {
  border-left: 2px solid $btn-cta-color;
}

// table
.ttable {
  color: #fff;
  width: 100%;
  font-size: 12px;
  border-collapse: separate;
  border-spacing: 0 0.4em;
}

.ttable tr th {
  text-align: left;
  padding: 3px 10px;
}

.ttable tr td {
  text-align: left;
  padding: 9px 10px;
}

.ttable tr td > .active-items {
  margin-right: 3px;
}

.ttable tr td > .inactive-items {
  margin-right: 3px;
}

.ttable tr th {
  font-weight: bold;
}

.ttable tr td {
  background-color: #8c8c8c66;
}

// pagination csss...

// input[type="button"] {
//   transition     : all .3s;
//   border         : 1px solid #ddd;
//   padding        : 8px 16px;
//   text-decoration: none;
//   border-radius  : 5px;
//   font-size      : 15px;
// }

// input[type="button"]:not(.active) {
//   background-color: transparent;
// }

// .active-pag {
//   background-color: #ff4d4d;
//   color           : #fff;
// }

// input[type="button"]:hover:not(.active) {
//   background-color: #ddd;
// }

//pagination css ..
#buttons {
  margin-top: 5px;
  display: flex;
  position: absolute;
  bottom: 8px;
  right: 4%;
}

#buttons input {
  margin: 0 2px;
  cursor: pointer;
}

.prev-btn,
.next-btn {
  border: none;
  outline: none;
  background-color: #242522;
  padding: 4px 8px;
  color: #fff;
}

#buttons > input[type="button"]:disabled {
  background: #8e8f8d;
  color: #fff;
  cursor: no-drop;
}

.active-page {
  border: none;
  outline: none;
  background-color: #242522;
  color: #fff;
}

.pagenoBtn {
  border: none;
  outline: none;
}

// themes.
.dark-theme {
  background-color: #404040;
  color: #fff;
}

.light-theme {
  background-color: #fff;
  color: #404040;
}

@media only screen and (max-width: 1024px) {
  .ttable {
    width: 92%;
    margin: 0 auto;
  }

  .ttable tr td {
    text-align: left;
    padding: 3px 10px;
    display: flex;
  }

  .ttable tr td > .active-items {
    margin-top: 5px;
  }

  .ttable tr td > .inactive-items {
    margin-top: 5px;
  }
}
