/* .dark {
    background-color: $dark-theme-bg !important;
}

.light {
    background-color: $light-theme-bg !important;
} */

/* :host {
    display: block;
    contain: content;
} */



// #sidebarmenu {
//     padding: 10px 0px 0px 0px;
// }

/* ::slotted(*) {
    color: red;
}

::slotted(*:hover) {
    color: green;
}

::slotted(*img) {
    height: 25px;
} */
