@import "../../assets/variable";

.dark {
    .disclosure {
        background-color: $dark-panel-bg-color !important;
        border-color: $light-text-color !important;
    }
    .t-disclosure-title {
        color: $dark-text-color !important;
    }
}

.light {
    .disclosure {
        background-color: $light-bg-color !important;
        border-color: $dark-panel-bg-color !important;
    }
    .t-disclosure-title {
        color: $light-text-color !important;
    }
}

.wrapper {
    font-family: "trinity", "Open Sans";
    opacity: 0;
    transition: visibility 0s, opacity 0.25s ease-in;
}

.wrapper:not(.open) {
    visibility: hidden;
}

.wrapper.open {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    visibility: visible;
    z-index: 100;
}

.overlay {
    background: transparent;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
}

.disclosure {
    background: #262626;
    max-width: 90%;
    padding: 0.75rem;
    position: fixed;
    border: 1px solid #404040;
    box-shadow: 0px 3px 6px #0000005c;
    width: 60%;
}

button {
    font-size: 20px;
    padding: 0 6px;
    font-weight: 700;
    color: #fff;
    background-color: #404040;
    border: 1px solid #131313;
    position: absolute;
    right: 15px;
}

button:focus {
    border: 2px solid blue;
}

.disclosure-top {
    display: flex;
    border-bottom: 1px solid #707070;
    padding-bottom: 5px;
}

.disclosure-top .t-disclosure-title {
    width: 80%;
    text-align: left;
    font-size: 1rem;
    padding: 5px 0;
    color: #ffffff;
    font-weight: 600;
}

.disclosure-top .t-disclosure-close {
    width: 20%;
    text-align: right;
}

.disclosure .content {
    padding: 10px 0px;
    color: #ffffff;
}

.disclosure .footer {
    padding: 5px 0;
    color: #ffffff;
    font-size: 1rem;
    text-align: right;
    border-top: 1px solid #707070;
}

.footer > .sm {
    width: 100px;
}
