.tlinks.dark {
    color: #ffffff !important;
}

.tlinks.light {
    color: #000000 !important;
}
.tlinks {
    color: #ffffff;
    font-size: 12px;
    text-decoration: none;
}

.tlinks:hover:hover {
    font-weight: bold;
}
