@import "../../assets/variable";

.tcard {
    // box-shadow: 0 8px 6px -6px black;
    border: 1px solid #131313;
}

.tcard.sm .tcard-header {
    font-size: 1.7vh;
}

.tcard.lg .tcard-header {
    font-size: 2vh;
}

.tcard-header {
    font-size: 1.8vh;
    background-color: #404040;
    padding: 3px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    color: #ffffff;
}

.tcard-header.hide {
    display: none !important;
}

.light .tcard-header {
    color: #000;
}

.tcard-header:first-child {
    // border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.tcard.sm .tcard-body {
    font-size: 1.7vh;
}

.tcard.lg .tcard-body {
    font-size: 2vh;
}

.tcard-body {
    font-size: 1.8vh;
    // background-color: #262626;
    height: auto;
    // overflow-y: scroll;
    padding: 3px;
    flex: 1 1 auto;
    // min-height: 1px;
    color: #ffffff;
}

.tcard-body.hide {
    display: none !important;
}

.light .tcard-body {
    color: #000;
}

// .tcard-footer:last-child {
//     border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
// }

.tcard-footer {
    font-size: 1.8vh;
    padding: 3px;
    // background-color: #404040;
    // border-top: 1px solid rgba(0, 0, 0, 0.125);
    color: #ffffff;
}

.tcard-footer.hide {
    display: none !important;
}

.light .tcard-footer {
    color: #000;
}

::-webkit-scrollbar {
    width: 0px;
}

// ::-webkit-scrollbar-track {
//     background: #f1f1f1;
// }

// ::-webkit-scrollbar-thumb {
//     background: #888;
// }

// ::-webkit-scrollbar-thumb:hover {
//     background: #555;
// }